# .gitignore
.env

# If you have a media folder for user uploads
# you might want to ignore it as well
# /media/       
# If you have a folder for collected static files
# you might want to ignore it as well
# /staticfiles/ 
